<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toutes les réservations</title>
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <%- include('partials/navbar') %>

   <main class="container">
    <section class="card">
        <h1>Toutes les réservations</h1>

        <a href="/reservations/new" class="btn btn-add">Ajouter une réservation</a>
        <% if (reservations.length === 0) { %>
            <p>Aucune réservation trouvée.</p>
        <% } else { %>

        
            <div class="reservation-list">
                <% reservations.forEach(reservation => { %>
                    <div class="reservation-item">
                        <p><strong>Catway numéro:</strong> <%= reservation.catwayNumber %></p>
                        <p><strong>Nom du bateau:</strong> <%= reservation.boatName %></p>
                        <p><strong>Date de début:</strong> <%= reservation.startDate.toLocaleDateString() %></p>
                        <p><strong>Date de fin:</strong> <%= reservation.endDate.toLocaleDateString() %></p>

                        <div class="actions">
                            <a href="/catways/<%= reservation.catwayNumber %>/reservations/<%= reservation._id %>/edit" class="btn btn-edit">Modifier</a>

                            <form action="/catways/<%= reservation.catwayNumber %>/reservations/<%= reservation._id %>/delete" method="POST">
                                <button type="submit" class="btn btn-delete" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette réservation ?');">Supprimer</button>
                            </form>
                        </div>
                    </div>
                <% }) %>
                
            </div>
            <a href="/dashboard" class="back-btn">Retour au dashboard
            </a>
        <% } %>
    </section>
   </main>
    
</body>
</html>